.container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.image {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 100px;
  background: #131316;
  border: 2px solid #801ab2;
  margin-right: 15px;
}

.title {
  flex: 1 1 auto;
  font-size: 16px;
  line-height: 24px;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Iceland, sans-serif;
  font-size: 28px;
  line-height: 24px;
}