.container {
  color: #F2F2F3;
  max-width: 640px;
  margin: 0 auto;
}

.number {
  text-align: center;
  font-family: Iceland, sans-serif;
  font-size: 28px;
  line-height: 24px;
  height: 64px;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 8px;
}

.statusDone {
  color: #0CC;
  font-size: 16px;
  line-height: 24px;
}

.statusNotDone {
  color: #f2f2f3;
  font-size: 16px;
  line-height: 24px;
}

.structure {
  margin-top: 70px;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.footer {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date {
  color: #8585AD;
  font-size: 16px;
  line-height: 24px;
}

.total {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Iceland, sans-serif;
  font-size: 28px;
  line-height: 24px;
}

.content {
  overflow-y: scroll;
  max-height: 294px;
  padding-right: 24px;
}