.content {
  display: flex;
  gap: 60px;
  max-width: 860px;
  margin: 120px 0 0;
  justify-content: space-between;
  &.wide {
    max-width: 100%;
    justify-content: left;
  }
}

.menu {
  color: #8585AD;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  padding: 10px 0;
  cursor: pointer;
  white-space: nowrap;
}

.active {
  color: #fff;
  cursor: default;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 860px;
  margin: 24px auto 0;
}

.text {
  color: #8585AD;
  max-width: 320px;
  opacity: 0.4;
}

.success {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.tapes {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: calc(100vh - 250px);
  overflow-y: scroll;
  padding-right: 8px;
  width: 100%;
}